h1 {
  text-align: center;
  font-size: 1.5em;
  font-family: cursive;
  color: #61380B;
}

p {
  font-size: 1em;
}

body {
  background-color: rgb(250,240,230);
}

nav {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

nav a {
  margin-left: 2%;
  margin-right: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.centered-section {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.important-paragraph{
  font-weight: bold;
}

.section-image img{
  width: 100%;
  height: auto;
}
